<style type="text/css">
    #main [class^="icon-"] {
        font-size: 30px;
        color: red;
        margin: 5px;
    }
    #main .icon-exit .path1:before,
    #main .icon-exit .path2:before {
        color: red;
    }
</style>
<i class="icon-dressing"></i>
<i class="icon-dressing-plus"></i>
<i class="icon-exit"><span class="path1"></span><span class="path2"></span></i>
<i class="icon-facebook"></i>
<i class="icon-google"></i>
<i class="icon-grid-large"></i>
<i class="icon-grid-small"></i>
<i class="icon-instagram"></i>
<i class="icon-letter"></i>
<i class="icon-location"></i>
<i class="icon-person"></i>
<i class="icon-pinterest"></i>
<i class="icon-pinterest-inverse"></i>
<i class="icon-plus"></i>
<i class="icon-search"></i>
<i class="icon-twitter"></i>
