<div class="follow-row">
    <span class="label">Follow us</span>
    <a href="#" class="icon-instagram" title="Instagram"></a>
    <a href="#" class="icon-pinterest" title="Pinterest"></a>
    <a href="#" class="icon-facebook" title="Facebook"></a>
    <a href="#" class="icon-twitter" title="Twitter"></a>
    <a href="#" class="icon-google" title="Google +"></a>
</div>

<div class="promo-box">
    <img src="/assets/img/img-promo02.jpg" alt="The latest from Watters" />
    <div class="txt">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <h2><a href="#">The latest <br />from Watters</a></h2>
                    <p>Get updates and reminders for the Big Day</p>
                    <button class="btn" type="button">subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>