<div class="container top">
    <div class="row">
        <div class="col-md-6">
            <a href="/" class="logo">Watters</a>
        </div>
        <div class="col-md-2">
            <h5>the family</h5>
            <ul>
                <li><a href="#">watters</a></li>
                <li><a href="#">wtoo</a></li>
                <li><a href="#">Love, Marley</a></li>
            </ul>
            <h5>support</h5>
            <ul>
                <li><a href="#">faqs</a></li>
                <li><a href="#">rush delivery</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5>company</h5>
            <ul>
                <li><a href="#">about</a></li>
                <li><a href="#">press</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5>follow us</h5>
            <div class="social-box">
                <a href="#" class="icon-instagram" title="Instagram"></a>
                <a href="#" class="icon-pinterest" title="Pinterest"></a>
                <a href="#" class="icon-facebook" title="Facebook"></a>
                <a href="#" class="icon-twitter" title="Twitter"></a>
                <a href="#" class="icon-google" title="Google +"></a>
            </div>
        </div>
    </div>
</div>
<div class="btn-row">
    <div class="container">
        <div class="holder">
            <button class="btn pull-left" type="button">WHOLESALER LOGIN</button>
            <button class="btn pull-right" type="button">BECOME A RETAILER</button>
        </div>
    </div>
</div>
<div class="container-fluid dark">
    <ul class="pull-right">
        <li><a href="#">terms of use</a></li>
        <li><a href="#">privacy policy</a></li>
    </ul>
    <p>&copy;watters 2015 all rights reserved</p>
</div>