<div class="hero-block">
    <section class="box" style="display: none;">
        <a href="#" class="logo">Watters</a>
        <img src="assets/img/img-hero01.jpg" alt="Image description" />
        <div class="txt">
            <div class="container">
                <h1><a href="#">it’s all in<br />the details</a></h1>
                <a href="#" class="btn">Shop the Looks</a>
            </div>
        </div>
    </section>
    <section class="box hero1" style="display: none;">
        <a href="#" class="logo">Watters</a>
        <img src="assets/img/img-hero01.jpg" alt="Image description" />
    </section>
    <section class="box hero2" style="display: none;">
        <a href="#" class="logo">Watters</a>
        <img src="assets/img/img-hero02.jpg" alt="Image description" />
        <div class="txt">
            <div class="container">
                <h1><a href="#">it’s all in<br />the details</a></h1>
                <a href="#" class="btn">Shop the Looks</a>
            </div>
        </div>
    </section>
    <section class="box hero3" style="display: none;">
        <a href="#" class="logo">Watters</a>
        <img src="assets/img/img-hero03.jpg" alt="Image description" />
        <div class="txt">
            <div class="container">
                <h1><a href="#">it’s all in<br />the details</a></h1>
                <a href="#" class="btn">Shop the Looks</a>
            </div>
        </div>
    </section>
    <section class="box hero4" style="display: none;">
        <a href="#" class="logo">Watters</a>
        <img src="assets/img/img-hero04.jpg" alt="Image description" />
        <div class="txt">
            <div class="container">
                <h1><a href="#">it’s all in<br />the details</a></h1>
                <a href="#" class="btn">Shop the Looks</a>
            </div>
        </div>
    </section>
    <section class="box hero5">
        <a href="#" class="logo">Watters</a>
        <img src="assets/img/img-hero05.jpg" alt="Image description" />
        <div class="txt">
            <div class="container">
                <a href="#" class="btn">Shop the Looks</a>
            </div>
        </div>
    </section>
</div>
<div data-sticky data-body-class="home-nav-sticky" class="home-nav">
    <ul class="nav navbar-nav">
        <li><a href="/brides">brides</a>
            <div class="drop">
                <ul>
                    <li><a href="#">Wedding dresses</a></li>
                    <li><a href="#">Reception dresses</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#">bridal party</a>
            <div class="drop">
                <ul>
                    <li><a href="#">Bridesmaid</a></li>
                    <li><a href="#">Flower Girl</a></li>
                    <li><a href="#">Mother of the Bride</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#">veils & accessories</a></li>
        <li><a href="#">trunk</a></li>
        <li><a href="#">real weddings</a></li>
        <li><a href="#">blog</a></li>
        <li class="wtoo"><a href="#">Wtoo</a></li>
        <li class="love-marley"><a href="#">love marley</a></li>
    </ul>
</div>
<div class="gray-wrapper">
    <section class="events-bock">
        <div class="container">
            <div class="frame">
                <article class="event long">
                    <div class="txt">
                        <h2><a href="#">trunk <br />shows</a></h2>
                        <i>Event of the month</i>
                        <button type="button" class="btn">SAVE YOUR SPOT</button>
                    </div>
                </article>
                <article class="event">
                    <a href="#"><img src="assets/img/img-event01.jpg" alt="Image description" /></a>
                    <div class="txt">
                        <em class="date">APR 17-19</em>
                        <h2><a href="#">RK Bridal</a></h2>
                        <address>New York, NY 10019</address>
                    </div>    
                </article>
                <article class="event">
                    <a href="#"><img src="assets/img/img-event02.jpg" alt="Image description" /></a>
                    <div class="txt">
                        <em class="date">APR 30 - MAY 3</em>
                        <h2><a href="#">cata fashion’s</a></h2>
                        <address>Strongsville, OH</address>
                    </div>
                </article>
                <article class="event">
                    <a href="#"><img src="assets/img/img-event03.jpg" alt="Image description" /></a>
                    <div class="txt">
                        <em class="date">APR 30 - MAY 3</em>
                        <h2><a href="#">terry costa</a></h2>
                        <address>Dallas, TX</address>
                    </div>
                </article>
                <article class="event">
                    <a href="#"><img src="assets/img/img-event04.jpg" alt="Image description" /></a>
                    <div class="txt">
                        <em class="date">APR 17-19</em>
                        <h2><a href="#">RK Bridal</a></h2>
                        <address>New York, NY 10019</address>
                    </div>
                </article>
                <article class="event">
                    <a href="#"><img src="assets/img/img-event02.jpg" alt="Image description" /></a>
                    <div class="txt">
                        <em class="date">APR 30 - MAY 3</em>
                        <h2><a href="#">cata fashion’s</a></h2>
                        <address>Strongsville, OH</address>
                    </div>
                </article>
                <article class="event">
                    <a href="#"><img src="assets/img/img-event03.jpg" alt="Image description" /></a>
                    <div class="txt">
                        <em class="date">APR 30 - MAY 3</em>
                        <h2><a href="#">terry costa</a></h2>
                        <address>Dallas, TX</address>
                    </div>
                </article>
                <article class="event">
                    <a href="#"><img src="assets/img/img-event01.jpg" alt="Image description" /></a>
                    <div class="txt">
                        <em class="date">APR 17-19</em>
                        <h2><a href="#">RK Bridal</a></h2>
                        <address>New York, NY 10019</address>
                    </div>
                </article>
                <article class="event">
                    <a href="#"><img src="assets/img/img-event04.jpg" alt="Image description" /></a>
                    <div class="txt">
                        <em class="date">APR 17-19</em>
                        <h2><a href="#">RK Bridal</a></h2>
                        <address>New York, NY 10019</address>
                    </div>
                </article>
                <article class="event">
                    <a href="#"><img src="assets/img/img-event02.jpg" alt="Image description" /></a>
                    <div class="txt">
                        <em class="date">APR 30 - MAY 3</em>
                        <h2><a href="#">cata fashion’s</a></h2>
                        <address>Strongsville, OH</address>
                    </div>
                </article>
                <article class="event">
                    <a href="#"><img src="assets/img/img-event03.jpg" alt="Image description" /></a>
                    <div class="txt">
                        <em class="date">APR 30 - MAY 3</em>
                        <h2><a href="#">terry costa</a></h2>
                        <address>Dallas, TX</address>
                    </div>
                </article>
                <article class="event">
                    <a href="#"><img src="assets/img/img-event01.jpg" alt="Image description" /></a>
                    <div class="txt">
                        <em class="date">APR 17-19</em>
                        <h2><a href="#">RK Bridal</a></h2>
                        <address>New York, NY 10019</address>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <div class="promo-box middle">
        <img src="/assets/img/img-promo03.jpg" alt="The latest from Watters" />
        <div class="txt">
            <div class="container">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <h2><a href="#">For the <br />Bridesmaid</a></h2>
                        <p>Colors and silhouettes for everyone</p>
                        <a href="#" class="btn">Shop the Looks</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="promo-box middle text-right">
        <img src="/assets/img/img-promo03.jpg" alt="The latest from Watters" />
        <div class="txt">
            <div class="container">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <h2><a href="#">Finishing<br />Touches</a></h2>
                        <p>Accesories copy goes here</p>
                        <a href="#" class="btn">Shop the Looks</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="promotion">
    <a href="#" class="cell">
        <img src="/assets/img/img-promotion01.jpg" alt="Make an account" />
        <div class="txt">
            <h2>make an account</h2>
            <b>Let us Style your Day</b>
        </div>
    </a>
    <a href="#" class="cell">
        <img src="/assets/img/img-promotion02.jpg" alt="Make an account" />
        <div class="txt">
            <h2>find a retailer</h2>
            <b>Go to Page</b>
        </div>
    </a>
</section>

<div class="inspiration-block">
    <div class="col long">
        <div class="inner">
            <a href="#" class="cell short high" style="background-image: url(/assets/img/img-inspiration01.jpg);"></a>
            <a href="#" class="cell short">
                <div class="txt">
                    <h2>Get inspired</h2>
                    <em>See real weddings</em>
                </div>
            </a>
            <a href="#" class="cell short" style="background-image: url(/assets/img/img-inspiration02.jpg);"></a>
        </div>
        <div class="inner">
            <a href="#" class="cell" style="background-image: url(/assets/img/img-inspiration03.jpg);"></a>
        </div>
    </div>
    <div class="col short">
        <div class="inner">
            <a href="#" class="cell" style="background-image: url(/assets/img/img-inspiration04.jpg);"></a>
        </div>
        <div class="inner">
            <a href="#" class="cell high" style="background-image: url(/assets/img/img-inspiration05.jpg);"></a>
        </div>
    </div>
</div>

<div ng-include src="'/partials/follow-promo.html'"></div>