<ul class="nav navbar-nav" role="tablist" id="nav-tabs" aria-multiselectable="true">
    <li class="panel">
        <a href="#" class="opener collapsed" aria-controls="tab1" aria-expanded="false"  data-target="#tab1" data-parent="#nav-tabs" data-toggle="collapse">brides<i class="glyphicon glyphicon-menu-down"></i><i class="glyphicon glyphicon-menu-up"></i></a>
        <div class="drop collapse" id="tab1" role="tabpanel" aria-expanded="false">
            <ul>
                <li><a href="#">Wedding dresses</a></li>
                <li><a href="#">Reception dresses</a></li>
            </ul>
        </div>
        <a href="/brides">brides</a>
    </li>
    <li class="panel">
        <a href="#" class="opener collapsed" aria-controls="tab2" aria-expanded="false"  data-target="#tab2" data-parent="#nav-tabs" data-toggle="collapse">bridal party<i class="glyphicon glyphicon-menu-down"></i><i class="glyphicon glyphicon-menu-up"></i></a>
        <div class="drop collapse" id="tab2" role="tabpanel" aria-expanded="false">
            <ul>
                <li><a href="#">Bridesmaid</a></li>
                <li><a href="#">Flower Girl</a></li>
                <li><a href="#">Mother of the Bride</a></li>
            </ul>
        </div>
        <a href="#">bridal party</a>
    </li>
    <li class="panel">
        <a href="#" class="opener collapsed" aria-controls="tab3" aria-expanded="false"  data-target="#tab3" data-parent="#nav-tabs" data-toggle="collapse">veils & accessories<i class="glyphicon glyphicon-menu-down"></i><i class="glyphicon glyphicon-menu-up"></i></a>
        <div class="drop collapse" id="tab3" role="tabpanel" aria-expanded="false">
            <ul>
                <li><a href="#">Bridesmaid</a></li>
                <li><a href="#">Flower Girl</a></li>
                <li><a href="#">Mother of the Bride</a></li>
            </ul>
        </div>
        <a href="#">veils & accessories</a>
    </li>
    <li><a href="#">trunk</a></li>
    <li><a href="#">real weddings</a></li>
    <li><a href="#">blog</a></li>
    <li class="wtoo"><a href="#">Wtoo</a></li>
    <li class="love-marley"><a href="#">love marley</a></li>
</ul>
<ul class="list">
    <li><a href="#">Support</a></li>
    <li><a href="#">Company</a></li>
</ul>
<div class="social-box">
    <a href="#" class="icon-instagram" title="Instagram"></a>
    <a href="#" class="icon-pinterest" title="Pinterest"></a>
    <a href="#" class="icon-facebook" title="Facebook"></a>
    <a href="#" class="icon-twitter" title="Twitter"></a>
    <a href="#" class="icon-google" title="Google +"></a>
</div>
<div class="icons">
    <a href="#" class="link">retail locator</a>
    <button type="button" class="ico btn-person"><i class="icon-person"></i><span>My profile</span></button>
    <button type="button" class="ico btn-profile"><i class="icon-dressing"></i><span>dressing room</span></button>
    <div class="position-box">
        <button class="ico opener" type="button"><i class="icon-location"></i>usa</button>
    </div>
</div>
<form action="#" class="search-form">
    <button type="button" class="ico opener"><i class="icon-search"></i></button>
    <div class="slide">
        <input type="search" class="input-text" placeholder="SEARCH"/>
    </div>
</form>