<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="switcher">
                <div class="holder">
                    <span class="img"><img src="../assets/img/img-switcher01.jpg" alt="Image description" /></span>
                    <span class="img"><img src="../assets/img/img-switcher02.jpg" alt="Image description" /></span>
                    <span class="img"><img src="../assets/img/img-switcher03.jpg" alt="Image description" /></span>
                </div>
            </div>
            <div class="zoom-content">
                <img src="../assets/img/img-zoom01.jpg" alt="Image description" />
                <span class="icon-search"></span>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
</div>