<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="img-col">
                <img src="../assets/img/img-modal01.jpg" alt="Image description" />
                <a href="#" class="left carousel-control">
                    <span aria-hidden="true" class="glyphicon glyphicon-menu-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a href="#" class="right carousel-control">
                    <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
                    <span class="sr-only">Previous</span>
                </a>
            </div>
            <div class="txt-col">
                <span class="style">style 7000b<i>$$$$</i></span>
                <h3><a href="#">Asher Gown</a></h3>
                <p>This full A-line gown featuring embroidery on silk organza on the bodice and skirt is soon to be a classic Watters style. Sweep train.</p>
                <div class="detail-holder">
                    <span class="label">price</span>
                    <em>$$$</em>
                </div>
                <div class="detail-holder">
                    <span class="label">colors</span>
                    <ul class="colors-list">
                        <li style="background: #666;"></li>
                        <li><img src="../assets/img/img-color.gif" alt="Image description" /></li>
                        <li><img src="../assets/img/img-color.gif" alt="Image description" /></li>
                        <li><img src="../assets/img/img-color.gif" alt="Image description" /></li>
                        <li><img src="../assets/img/img-color.gif" alt="Image description" /></li>
                        <li><img src="../assets/img/img-color.gif" alt="Image description" /></li>
                        <li><img src="../assets/img/img-color.gif" alt="Image description" /></li>
                        <li><img src="../assets/img/img-color.gif" alt="Image description" /></li>
                    </ul>
                </div>
                <div class="btn-row">
                    <button type="button" class="btn room"><i class="icon-dressing-plus"></i></button>
                    <button type="button" class="btn">full details</button>
                </div>
                <div class="detail-holder">
                    <span class="label">Share</span>
                    <div class="social-box">
                        <a title="Pinterest" class="icon-pinterest" href="#"></a>
                        <a title="Facebook" class="icon-facebook" href="#"></a>
                        <a title="Twitter" class="icon-twitter" href="#"></a>
                        <a title="Google +" class="icon-letter" href="#"></a>
                    </div>
                </div>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
</div>